Admin/OsmLib/res/configuration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="query"  minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="query">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="overpass" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="arcgis" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="fields" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="overpass">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:anyURI" name="url"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="arcgis">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="type"/>
				<xs:element type="xs:boolean" name="delete"/>
				<xs:element type="xs:anyURI" name="featureClass"/>
				<xs:element ref="login" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="login">
		<xs:complexType>
			<xs:attribute type="xs:string" name="user" use="optional"/>
			<xs:attribute type="xs:string" name="password" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="matching"  minOccurs="1" maxOccurs="1"/>
				<xs:element type="xs:string" name="data"/>
				<xs:element type="xs:string" name="osmurl"/>
				<xs:element type="xs:string" name="osmid"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="matching">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field"  minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="field">
		<xs:complexType>
			<xs:attribute type="xs:string" name="osm" use="optional"/>
			<xs:attribute type="xs:string" name="arcgis" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="notification">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="text"/>
				<xs:element type="xs:string" name="url"/>
				<xs:element type="xs:string" name="data"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>