Admin/OsmLib/src/res/configuration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="query"  minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="query">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="overpass" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="arcgis" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="matching" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="trigger" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="overpass">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:anyURI" name="url"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="arcgis">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="type"/>
				<xs:element type="xs:anyURI" name="featureClass"/>
				<xs:element ref="login" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="app" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="login">
		<xs:complexType>
			<xs:attribute type="xs:string" name="user" use="optional"/>
			<xs:attribute type="xs:string" name="password" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="app">
		<xs:complexType>
			<xs:attribute type="xs:string" name="clientId" use="optional"/>
			<xs:attribute type="xs:string" name="clientSecret" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="matching">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fields"  minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field"  minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="field">
		<xs:complexType>
			<xs:attribute type="xs:string" name="tag" use="optional"/>
			<xs:attribute type="xs:string" name="name" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="trigger">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="direction"/>
				<xs:element type="xs:string" name="triggerID">
					<xs:annotation>
						<xs:documentation>enter, leave</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element type="xs:float" name="radius"/>
				<xs:element type="xs:string" name="tags">
					<xs:annotation>
						<xs:documentation>Meters</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="notification"  minOccurs="1" maxOccurs="1"/>
				<xs:element type="xs:string" name="where" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="notification">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="text"/>
				<xs:element type="xs:string" name="url"/>
				<xs:element type="xs:string" name="data"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>